/* border-box */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;  
}

.intro {
    margin-bottom: 70px;
}

.title {
    display: flex;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

.score-txt {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.player-score, 
.computer-score {
    display: flex; 
    flex-direction: column;
    min-width: 105px;
}

.text {
    font-weight: 300;
    font-size: 24px;
}

.hands-img{
    display: flex;
    gap: 160px;
    justify-content: space-around;
}

img {
   height: 180px;
   width: auto;
}

.rock, 
.paper,
.scissors {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;


}

.hands-img {
    margin-bottom: 0px;
}

.played {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    min-width: 135px;
}

/* hover */
.rock:hover, 
.paper:hover,
.scissors:hover {
    transition: color 0.2s ease;
    color: #999;
    cursor: pointer;
}

.player-hand,
.computer-hand,
.round-result {
    font-weight: 300;
    font-size: 18px;
}

.round-result {
    margin: 20px 0px 32.16px;
    font-style: italic;
    font-weight: 500;
}

.end {
    min-height: 300px;
}


/* footer */
h5 {
    margin: 42.21px 0;
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.github {
    height: 12px;
    width: auto;
    margin: 0;
}